.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-2164.936000px;}
._8{width:153.504000px;}
._a{width:183.968000px;}
._b{width:198.144000px;}
._9{width:235.552000px;}
._d{width:240.832000px;}
._e{width:284.376000px;}
._c{width:303.104000px;}
._7{width:364.252000px;}
._6{width:423.080000px;}
._2{width:523.840000px;}
._0{width:1019.832000px;}
._1{width:1269.844000px;}
._3{width:1289.736000px;}
._4{width:1635.136000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:28.000000px;}
.fs3{font-size:32.000000px;}
.fs4{font-size:36.000000px;}
.fs2{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.fs1{font-size:56.000000px;}
.y0{bottom:166.500000px;}
.y43{bottom:168.400000px;}
.y44{bottom:173.050000px;}
.y42{bottom:177.710000px;}
.y41{bottom:190.530000px;}
.y2d{bottom:206.920000px;}
.y28{bottom:207.530000px;}
.y32{bottom:221.550000px;}
.y33{bottom:223.420000px;}
.y40{bottom:237.550000px;}
.y3f{bottom:237.920000px;}
.y27{bottom:252.550000px;}
.y2a{bottom:252.920000px;}
.y3c{bottom:254.400000px;}
.y2b{bottom:266.550000px;}
.y2c{bottom:266.920000px;}
.y3b{bottom:271.400000px;}
.y25{bottom:281.550000px;}
.y35{bottom:281.920000px;}
.y3a{bottom:288.400000px;}
.y26{bottom:296.550000px;}
.y2e{bottom:296.920000px;}
.y39{bottom:305.400000px;}
.y3e{bottom:311.550000px;}
.y3d{bottom:312.920000px;}
.y38{bottom:322.400000px;}
.y31{bottom:326.550000px;}
.y34{bottom:327.920000px;}
.y37{bottom:339.400000px;}
.y24{bottom:342.550000px;}
.y29{bottom:342.920000px;}
.y2f{bottom:356.550000px;}
.y36{bottom:357.380000px;}
.y30{bottom:357.920000px;}
.y23{bottom:381.920000px;}
.y22{bottom:402.880000px;}
.y20{bottom:407.530000px;}
.y21{bottom:412.190000px;}
.y17{bottom:439.430000px;}
.y19{bottom:439.450000px;}
.y16{bottom:464.160000px;}
.y18{bottom:464.320000px;}
.y15{bottom:494.420000px;}
.yb{bottom:495.030000px;}
.y10{bottom:497.050000px;}
.y1f{bottom:512.030000px;}
.y14{bottom:513.420000px;}
.ya{bottom:532.880000px;}
.y13{bottom:539.350000px;}
.y9{bottom:542.190000px;}
.y6{bottom:561.600000px;}
.y8{bottom:570.070000px;}
.y7{bottom:579.380000px;}
.y12{bottom:580.350000px;}
.y1d{bottom:588.290000px;}
.ye{bottom:588.320000px;}
.y1c{bottom:620.290000px;}
.y1e{bottom:620.320000px;}
.y11{bottom:637.430000px;}
.y5{bottom:652.470000px;}
.yd{bottom:658.320000px;}
.y4{bottom:664.110000px;}
.yc{bottom:697.420000px;}
.y3{bottom:716.290000px;}
.y1b{bottom:740.290000px;}
.y1a{bottom:740.320000px;}
.y2{bottom:768.310000px;}
.y1{bottom:796.550000px;}
.yf{bottom:796.580000px;}
.ha{height:29.107422px;}
.h8{height:33.265625px;}
.h5{height:33.781250px;}
.h6{height:37.423828px;}
.h9{height:38.003906px;}
.h7{height:41.582031px;}
.h4{height:42.226562px;}
.h2{height:50.671875px;}
.h3{height:59.117188px;}
.h1{height:655.000000px;}
.h0{height:842.000000px;}
.w1{width:556.000000px;}
.w0{width:595.000000px;}
.x0{left:19.500000px;}
.x8{left:21.000000px;}
.xe{left:27.160000px;}
.x2{left:30.000000px;}
.xd{left:34.050000px;}
.x19{left:66.430000px;}
.x1a{left:69.330000px;}
.x14{left:75.390000px;}
.x6{left:79.000000px;}
.x13{left:80.050000px;}
.xa{left:99.000000px;}
.x15{left:124.300000px;}
.x12{left:125.550000px;}
.x1b{left:191.990000px;}
.x9{left:203.000000px;}
.x7{left:213.000000px;}
.xc{left:257.110000px;}
.x1{left:323.000000px;}
.xb{left:357.000000px;}
.x4{left:381.000000px;}
.x5{left:389.000000px;}
.x16{left:391.000000px;}
.x11{left:414.720000px;}
.x10{left:417.160000px;}
.x3{left:427.000000px;}
.xf{left:519.660000px;}
.x17{left:550.490000px;}
.x18{left:554.380000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-2886.581333pt;}
._8{width:204.672000pt;}
._a{width:245.290667pt;}
._b{width:264.192000pt;}
._9{width:314.069333pt;}
._d{width:321.109333pt;}
._e{width:379.168000pt;}
._c{width:404.138667pt;}
._7{width:485.669333pt;}
._6{width:564.106667pt;}
._2{width:698.453333pt;}
._0{width:1359.776000pt;}
._1{width:1693.125333pt;}
._3{width:1719.648000pt;}
._4{width:2180.181333pt;}
.fs5{font-size:37.333333pt;}
.fs3{font-size:42.666667pt;}
.fs4{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs1{font-size:74.666667pt;}
.y0{bottom:222.000000pt;}
.y43{bottom:224.533333pt;}
.y44{bottom:230.733333pt;}
.y42{bottom:236.946667pt;}
.y41{bottom:254.040000pt;}
.y2d{bottom:275.893333pt;}
.y28{bottom:276.706667pt;}
.y32{bottom:295.400000pt;}
.y33{bottom:297.893333pt;}
.y40{bottom:316.733333pt;}
.y3f{bottom:317.226667pt;}
.y27{bottom:336.733333pt;}
.y2a{bottom:337.226667pt;}
.y3c{bottom:339.200000pt;}
.y2b{bottom:355.400000pt;}
.y2c{bottom:355.893333pt;}
.y3b{bottom:361.866667pt;}
.y25{bottom:375.400000pt;}
.y35{bottom:375.893333pt;}
.y3a{bottom:384.533333pt;}
.y26{bottom:395.400000pt;}
.y2e{bottom:395.893333pt;}
.y39{bottom:407.200000pt;}
.y3e{bottom:415.400000pt;}
.y3d{bottom:417.226667pt;}
.y38{bottom:429.866667pt;}
.y31{bottom:435.400000pt;}
.y34{bottom:437.226667pt;}
.y37{bottom:452.533333pt;}
.y24{bottom:456.733333pt;}
.y29{bottom:457.226667pt;}
.y2f{bottom:475.400000pt;}
.y36{bottom:476.506667pt;}
.y30{bottom:477.226667pt;}
.y23{bottom:509.226667pt;}
.y22{bottom:537.173333pt;}
.y20{bottom:543.373333pt;}
.y21{bottom:549.586667pt;}
.y17{bottom:585.906667pt;}
.y19{bottom:585.933333pt;}
.y16{bottom:618.880000pt;}
.y18{bottom:619.093333pt;}
.y15{bottom:659.226667pt;}
.yb{bottom:660.040000pt;}
.y10{bottom:662.733333pt;}
.y1f{bottom:682.706667pt;}
.y14{bottom:684.560000pt;}
.ya{bottom:710.506667pt;}
.y13{bottom:719.133333pt;}
.y9{bottom:722.920000pt;}
.y6{bottom:748.800000pt;}
.y8{bottom:760.093333pt;}
.y7{bottom:772.506667pt;}
.y12{bottom:773.800000pt;}
.y1d{bottom:784.386667pt;}
.ye{bottom:784.426667pt;}
.y1c{bottom:827.053333pt;}
.y1e{bottom:827.093333pt;}
.y11{bottom:849.906667pt;}
.y5{bottom:869.960000pt;}
.yd{bottom:877.760000pt;}
.y4{bottom:885.480000pt;}
.yc{bottom:929.893333pt;}
.y3{bottom:955.053333pt;}
.y1b{bottom:987.053333pt;}
.y1a{bottom:987.093333pt;}
.y2{bottom:1024.413333pt;}
.y1{bottom:1062.066667pt;}
.yf{bottom:1062.106667pt;}
.ha{height:38.809896pt;}
.h8{height:44.354167pt;}
.h5{height:45.041667pt;}
.h6{height:49.898438pt;}
.h9{height:50.671875pt;}
.h7{height:55.442708pt;}
.h4{height:56.302083pt;}
.h2{height:67.562500pt;}
.h3{height:78.822917pt;}
.h1{height:873.333333pt;}
.h0{height:1122.666667pt;}
.w1{width:741.333333pt;}
.w0{width:793.333333pt;}
.x0{left:26.000000pt;}
.x8{left:28.000000pt;}
.xe{left:36.213333pt;}
.x2{left:40.000000pt;}
.xd{left:45.400000pt;}
.x19{left:88.573333pt;}
.x1a{left:92.440000pt;}
.x14{left:100.520000pt;}
.x6{left:105.333333pt;}
.x13{left:106.733333pt;}
.xa{left:132.000000pt;}
.x15{left:165.733333pt;}
.x12{left:167.400000pt;}
.x1b{left:255.986667pt;}
.x9{left:270.666667pt;}
.x7{left:284.000000pt;}
.xc{left:342.813333pt;}
.x1{left:430.666667pt;}
.xb{left:476.000000pt;}
.x4{left:508.000000pt;}
.x5{left:518.666667pt;}
.x16{left:521.333333pt;}
.x11{left:552.960000pt;}
.x10{left:556.213333pt;}
.x3{left:569.333333pt;}
.xf{left:692.880000pt;}
.x17{left:733.986667pt;}
.x18{left:739.173333pt;}
}
